.cell {
    width: 10vmin;
    height: 10vmin;
    margin: 2vmin 2vmin 0 0;
    background-color: #C5C6BE;
    float: left;
}
/* add left margin to first childs of rows */
/* .cell:nth-child(4n+1) { */
    /* margin-left: 2vmin; */
/* } */

.letter {
    position: absolute;
    height: 10vmin;
    width: 10vmin;
    font-size: 5vmin;
    font-weight: bold;
    text-align: center;
    line-height: 10vmin;
    /* background-color: #F44336; */
    color: #FFFFFF;
    transition: all .3s;
}

.wrongplace {
    background-color: #989b09;
}
.rightplace {
    background-color: #099b35;
}