.cell {
    width: 8vmin;
    height: 8vmin;
    margin: 1vmin 1vmin 0 0;
    background-color: #C5C6BE;
    float: left;
}

.letter {
    position: absolute;
    height: 8vmin;
    width: 8vmin;
    font-size: 6vmin;
    font-weight: bold;
    text-align: center;
    line-height: 7vmin;
    color: #FFFFFF;
    transition: all .3s;
}

.wrongplace {
    background-color: #c2c45f;
}
.rightplace {
    background-color: #5da874;
}

