.cell {
    width: 7vmin;
    height: 7vmin;
    margin: 1vmin 1vmin 0 0;
    background-color: #C5C6BE;
    float: left;
}

.letter {
    position: absolute;
    height: 7vmin;
    width: 7vmin;
    font-size: 5vmin;
    font-weight: bold;
    text-align: center;
    line-height: 7vmin;
    color: #FFFFFF;
    transition: all .3s;
}

.wrongplace {
    background-color: #c2c45f;
}
.rightplace {
    background-color: #5da874;
}

.bigkey {
    width: 22.25vmin !important;
}