.cell {
    width: 4em;
    height: 4em;
    margin: 0.3em 0.3em 0 0;
    background-color: #D9E1DF;
    float: left;
    border-radius: 0.3em;
}

.letter {
    height: 100%;
    width: 100%;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    transition: all .3s;
    border-radius: 0.1em;
}

.wrongplace {
    background-color: #166C75;
}
.rightplace {
    background-color: #FD7D73;
}

