.key {
    width: 2em;
    height: 3.5em;
    margin: 0.2em 0.2em 0 0;
    background-color: #C5C6BE;
    float: left;
}

.keyletter {
    width: 100%;
    height: 100%;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    transition: all .3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.keyboard {
    width: 39%;
    display: flex;
    margin-bottom: 0.1em;
    margin-top: 0.5em;
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .keyboard {
      width: 99%;
    }
  }

.wrongletter_keyboard {
    background-color: #666666;
}

.bigkey {
    width: 45% !important;
}